@page "/student1"
@using BlazorApp.Models

<div class="border border-1 m-4 p-3" stype="background-color:#d6d5d5">
    <h3>Student 1</h3>

    <p>Message from Teacher: @state?.MessageFromTeacher</p>

    <input class="form-control mb-2 col-4" @bind="messageToStudent2" placeholder="Type message to student 2" />
    <button class="btn btn-primary" @onclick="SendMessageToStudent2">Send Message to student 2</button>
</div>
<CascadingValue Value="state">
    <Student2 />
</CascadingValue>
@code {
    [CascadingParameter]
    public SharedState state { get; set; }
    private string messageToStudent2 = "";
    private void SendMessageToStudent2()
    {
        state.MessageFromStudent1 = messageToStudent2;
    }
}
