@page "/student1"

<div class="my-3 border border-primary">
    <h5>Student1 Mark:</h5>
    <span></span>
   
   @*  <div class="d-flex flex-grow-1">
        <h3>Teacher</h3>
        <div class="form-group ps-5">
            <label for="Student1" class="control-label">Student 1 Mark</label>
            <input for="Student1" class="form-control" />
        </div>        

    </div> *@
</div>
<Student2>

</Student2>