@page "/student2"
@using BlazorApp.Models
<div class="border border-1 p-3">
<h3>Student 2</h3>

<p>Message from Teacher: @state?.MessageFromTeacher</p>
<p>Message from Student 1: @state?.MessageFromStudent1</p>
</div>
@code {
    [CascadingParameter]
    public SharedState state { get; set; }
}

