@using BlazorApp.Models

<h3>Student 1</h3>

<p>Message from Teacher: @State?.MessageFromTeacher</p>
<input @bind="State.MessageFromStudent1" placeholder="Reply to Teacher" />
<button class="btn btn-primary" @onclick="SendMessageToTeacher">Send Message to Teacher</button>

@code {

    [CascadingParameter]
    public SharedState State { get; set; }

    private void SendMessageToTeacher()
    {
        State.MessageFromStudent1 = "Hello from Student1!";
    }
}
